<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Jua|Gugi|Nanum Gothic|Archivo+Narrow" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/about.css">
  <link rel="stylesheet" href="stylesheets/basic.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="javascripts/menu.js"></script>
  <script type="text/javascript" src="javascripts/slides.js"></script>
  <title>Home</title>
</head>

<body>
  <% include ./header.ejs %>

  <section>
    <div class="about_title">
      <h1>Premier League</h1>
    </div>

    <div class="about_title_explain">
      <div class="about_title_contents">
        <img src="img/premier league.png" alt="프리미어리그 로고">
      </div>
      <div class="about_title_part">
        <div class="about_title_contents1">
          <dl>
            <dt>국가:</dt>
            <dd>잉글랜드</dd>
          </dl>

          <dl>
            <dt>대륙:</dt>
            <dd>UEFA</dd>
          </dl>

          <dl>
            <dt>설립 연도:</dt>
            <dd>1992년</dd>
          </dl>

          <dl>
            <dt>팀 수:</dt>
            <dd>20</dd>
          </dl>

          <dl>
            <dt>리그컵:</dt>
            <dd>EFL컵</dd>
          </dl>
        </div>

        <div class="about_title_contents2">
          <dl>
            <dt>국내컵:</dt>
            <dd>FA컵, FA 커뮤니티 실드</dd>
          </dl>

          <dl>
            <dt>하위리그:</dt>
            <dd>EFL 챔피언십</dd>
          </dl>

          <dl>
            <dt>대륙컵:</dt>
            <dd>UEFA챔피언스리그, UEFA유로파리그</dd>
          </dl>

          <dl>
            <dt>최근 우승:</dt>
            <dd>맨체스터 시티 (2017-2018)</dd>
          </dl>

          <dl>
            <dt>최다 우승:</dt>
            <dd>맨체스터 유나이티드 (20회)</dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="about_mobile_explain">
      <div class="about_mobile_contents">
        <img src="img/premier league.png" alt="프리미어리그 로고">
      </div>
      <table class="about_mobile_table">
        <tbody>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>국가</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>잉글랜드</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>대륙</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>UEFA</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>설립연도</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>1992년</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>팀 수</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>20</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>리그컵</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>EFL컵</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>국내컵</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>FA컵, FA 커뮤니티 실드</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>하위리그</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>EFL 챔피언십</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>대륙컵</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>UEFA챔피언스리그, UEFA유로파리그</span>
            </td>
          </tr>
          <tr>
            <td style="width:35%;text-align:center;">
              <span>최근 우승</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>맨체스터 시티 (2017-2018)</span>
            </td>
          </tr>
          <tr style="width:35%;text-align:center;">
            <td>
              <span>최다 우승</span>
            </td>
            <td style="background-color:#fff; text-align:left;">
              <span>맨체스터 유나이티드 (20회)</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div class="about_explain">
      <div class="about_explain_sort">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/cCMLU3KOLlI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="about_slideshow">
          <img class="mySlides" src="img/about/Manchester City.jpg">
          <img class="mySlides" src="img/about/Riverpool.jpg">
          <img class="mySlides" src="img/about/Tottenham.jpg">
          <img class="mySlides" src="img/about/Arsenal.jpg">
          <img class="mySlides" src="img/about/Chelsea.jpg">
          <img class="mySlides" src="img/about/Machester United.jpg">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="about_contents">
      <p>잉글랜드축구협회(The Football Association) The Premier League가 운영하는 축구리그. 잉글랜드의 최상위 프로축구 리그이며 1992년에 출범했다.<br><br>
        종전까지 있었던 잉글리시 풋볼 리그의 디비전 1을 계승한다. 덧붙여 잉글리시 풋볼 리그는 1888년에 출범한 역사가 가장 오래된 리그이며, 가장 많은 상업적 이윤을 발생시키는 리그이기도
        하다.<br><br></p>
      <p>과거에도 유럽 유수의 리그로 인정받았던 종가 잉글랜드의 풋볼 리그였지만, 1985년에 리버풀 FC의 훌리건들이 자행한 헤이젤 참사로 인해 영국의 축구 클럽들이 5년간의 유럽 대항전 출장 정지
        징계를 당하며 유럽에서 잉글랜드 리그의 경쟁력이 점차 도태되었고, 1989년 잘못된 안전 통제로 목숨를 잃은 힐스버러 참사까지 벌어지면서 리그 개편의 필요성이 제기되기 시작하였다.
        이에 1992년 잉글랜드 최상위 리그였던 풋볼 리그디비전1이 별도 법인 '프리미어십'으로 새롭게 출범한 것이 바로 프리미어 리그의 시작이다.</p>
    </div>
  </section>

  <div class="upbtn" onclick="goTop()">
      <div></div>
  </div>

  <% include ./footer.ejs %>
</body>

</html>
