<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ERROR</title>
    <link rel="shortcut icon" href="img/if_Locked-Cloud_379456.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/error.css">
    <link href="https://fonts.googleapis.com/css?family=Exo|Gugi" rel="stylesheet">
  </head>
  <body>
    <div class="error">
      <div class="error_img">
        <img src="img/hat.png" alt="">
      </div>
      <div class="error_number">
        <h1>ERROR</h1>
      </div>
      <div class="error_text">
        <span class="error_text_title">Oh No! Page not found</span>
      </div>
      <div class="error_text1">
        <span class="error_text1_subtitle">The Page you are looking for doesn’t exist or another error occurred</span>
      </div>
    </div>
  </body>
</html> -->

<h1><%= message %></h1>

<h2><%= error.status %></h2>

<pre><%= error.stack %></pre>
