<footer>
  <div class="bottom_logo">
    <img src="img/premier.png">
    <ul>
      <li>
        <p onclick="location.href = '/index'">HOME</p>
      </li>
      <li>
        <p onclick="location.href = '/about'">About</p>
      </li>
      <li>
        <p onclick="location.href = '/team'">Team</p>
      </li>
      <li>
        <p onclick="location.href = '/history'">History</p>
      </li>
      <li>
        <p onclick="location.href = '/ranking'">Ranking</p>
      </li>
      <li>
          <p onclick="location.href = '/sign_in'">Sign_In</p>
        </li>
    </ul>
    <div class="bottom_copyright">
      <p>ⓒ 2019. Hwang_Yoon_Jae all rights reserved.</p>
    </div>
  </div>
</footer>