<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Jua|Gugi|ZCOOL+QingKe+HuangYou|Acme" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/history.css">
  <link rel="stylesheet" href="stylesheets/basic.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="javascripts/menu.js"></script>
  <title>History</title>
</head>

<body>
  <% include ./header.ejs %>

  <div class="History_title">
    <h1>History</h1>
  </div>

  <section class="contents_container">
    <div class="contents_container_text">
      <h2>발단</h2>
      <div class="main_text">
        <p>1970년대에서 1980년대 초까지 잉글랜드 축구는 유러피언 컵을 휩쓸다시피 했지만, 1980년대 후반으로 접어들면서 암울한 시기에 들어섰다. 경기장은 오래되어 망가지고, 서포터들은 열악한
          시설을 참아야 했고, 훌리건들이 수두룩했다. 또한 잉글랜드의 클럽들은 1985년에 벌어진 헤이젤 참사로 유러피언 컵 참가가 금지되었다. 
          <br>1888년부터 시작된 잉글랜드의 최상위 리그였던 풋볼 리그 1부는 그 당시 몇몇 주요 잉글랜드 선수의 해외 진출과 관중 규모, 수입 면에서 이탈리아의 세리에 A와 스페인의 프리메라리가에
          이어 3위에 있었다.
          그러나 1990년대로 들어서면서 하향세를 그리던 것이 역전되기 시작했다.<br>
          그 첫 번째 요인은 잉글랜드 축구 국가대표팀이 1990년 FIFA 월드컵에서 4강에 진출하면서부터였다.
          UEFA는 1990년 잉글랜드 구단의 유럽 대회 5년 출장 금지 조치를 해제하였고, 당해에 치러진 UEFA 컵위너스컵에서 맨체스터 유나이티드 FC가 우승 컵을 들어올렸고, 힐즈버러 참사 이후 동년
          1월에 나온 경기장 안전 기준과 관련하여 경기장의 모든 관중석을 기존의 스탠드 형태에서 좌석으로 교체하라는 권고를 포함한 테일러 보고서를 출판하였다.
        </p>
      </div>
    </div>
  </section>

  <section class="contents_container">
    <div class="contents_container_text">
      <h2>창설</h2>
      <div class="main_text">
        <p>1991년에 시즌이 종료된 후, 더 많은 수익 창출을 위한 새로운 리그 설립에 관한 제안이 제기되었다. 1991년 7월 17일에 창립 회원 협정(The Founder Members
          Agreement)을 1부 리그 클럽들이 체결하였고, 그 협정에 따라 FA 프리미어리그를 조직하기 위한 기본 원칙이 수립되었다. 새롭게 만들어지는 프리미어리그는 고유의 라이선스를 가지고 독자적인
          중계권과 후원사 협상을 통해 잉글랜드 축구
          협회와 풋볼 리그로부터 수익 면에서 독립적이었다.
          <br>1992년에 1부 리그 클럽은 모두 풋볼 리그를 떠났고, 1992년 5월 27일에 잉글랜드 축구 협회의 본부가 있던 랭커스터 게이트에 사무실을 만들고 유한회사로서 FA 프리미어리그가
          설립되었다. 프리미어리그가 단일 디비전으로 운영되고 이전에 4개 디비전을 가지고 있던 풋볼 리그는 3개 디비전으로 바뀌는 일이 의미하는 바는 풋볼 리그의 104년간의 1부 리그로서의 역사에
          종지부를 찍게 되는 것이었다. 대회 형식에는
          아무런
          변화가 없었다. <br>이전의 풋볼 리그 1부와 2부 사이에 이루어졌던 승강제 역시 프리미어리그와 새롭게 풋볼 리그 1부가 된 예전의 풋볼 리그 2부 사이에 이루어졌다.
          새로운 프리미어십의 22개의 첫 멤버는 아스널, 애스턴 빌라, 블랙번 로버스, 첼시, 코번트리 시티, 크리스털 팰리스, 에버턴, 입스위치 타운, 리즈 유나이티드, 리버풀, 맨체스터 시티, 맨체스터
          유나이티드, 미들즈브러, 노리치 시티, 노팅엄 포레스트, 올덤 애슬레틱, 퀸즈 파크 레인저스, 셰필드 유나이티드, 셰필드 웬즈데이, 사우샘프턴, 토트넘 홋스퍼, 윔블던이었다. 이
          중 윔블던은 2004년에 연고지를 옮기면서 밀턴케인스
          던스가 되어 현재는 사라진 팀이다.
        </p>
      </div>
    </div>
  </section>

  <section class="contents_container">
    <div class="contents_container_text">
      <h2>확립</h2>
      <div class="main_text">
        <p>2016-17 시즌이 끝나면서 프리미어리그는 25번의 시즌을 끝마쳤다. 프리미어리그의 첫 번째 시즌이었던 1992-93 시즌에는 22개 클럽이 참가하였다. 프리미어리그의 첫 번째 골은 셰필드
          유나이티드의 브라이언 딘이 맨체스터 유나이티드와의 경기에서 2 대 1로 승리할 때 넣은 골이다.<br>
          국제 축구를 주관하는 FIFA의 주장에 따라, 프리미어리그 역시 참가 클럽 수를 줄이게 되었다. 1995년에 네 개의 클럽이 강등되고 두 팀이 승격하게 되면서 20개 팀이 참가하는 현재의 리그
          시스템이 확립되었다. 2006년 6월 8일에 FIFA는 이탈리아의 세리에 A와 스페인의 라 리가를 포함하는 주요 유럽 리그에 대하여 2007-08 시즌이 시작할 때까지 18개 팀으로 감축하라는
          요청이 있었다.<br>
          프리미어리그는 FIFA의 이러한 감축 요구에 반대한다는 성명을 발표하였다. 결국 2007-08 시즌은 20개 팀으로 시작되었다. 리그는 명칭을 “FA 프리미어리그”에서 간단하게 “프리미어리그”로
          2007년에 변경하였다. 같은 시즌이었던 2007-08 시즌에 39번째 경기를 해외에서 열자는 논의도 있었다.
        </p>
      </div>
    </div>
  </section>

  <section class="contents_container">
    <div class="contents_container_text">
      <h2>구단</h2>
      <div class="main_text">
        <p>1992년부터 2017년까지 프리미어리그에는 총 47개 클럽이 참가했었다. 2016-17 시즌 종료 후 허더즈필드 타운과 브라이턴 & 호브 앨비언이 승격하게 되어 49개 팀으로 늘어났다. 루턴
          타운과 노츠 카운티는 프리미어리그 참가 협정에 사인했었지만, 프리미어리그 첫 시즌 바로 전인 1991-92 시즌에 강등되어 현재까지 승격하지 못하고 있다. 프리미어리그에 참가했던 모든 클럽은
          프리미어리그 구단 목록을 참고하면 되고, 프리미어리그 전 시즌 순위는 역대 프리미어리그 순위에서 찾을 수 있다. 프리미어리그의 우승, 준우승, 득점왕에 대해서는 잉글랜드 리그 우승 팀에 나와
          있다.<br>
        </p>
        <p>
          프리미어리그가 생기고 25시즌동안 모두 프리미어리그에 남아 있는 팀은 총 여섯 팀으로, 아스널, 첼시, 토트넘 홋스퍼, 맨체스터 유나이티드, 리버풀, 에버턴이다.<br>
        </p>
      </div>
    </div>
  </section>

  <section class="contents_container">
    <div class="contents_container_text">
      <h2>최다득점자</h2>
      <div class="main_text">
        <p>
          프리미어리그에서 뛰는 선수들은 비공식 대회인 이 달의 골과 올해의 골에서 경쟁을 한다. 선수들이 경쟁하는 다른 타이틀은 시즌 최고 득점자이다. 이전 블랙번 로버스와 뉴캐슬 유나이티드의 스트라이커인
          앨런 시어러가 260골로 프리미어리그 최다 득점자 기록을 가지고 있다. 시어러는 그의 14시즌 동안 10위권 내에 10번 들어갔고, 세 번의 득점왕을 차지하였다. 1995-96 시즌에 그는 최초로
          프리미어리그 득점 100골을 넘긴 선수가 되었다.<br>
        </p>
        <p>
          1992-93 시즌부터 2010-11 시즌까지 총 17명의 선수가 최고 득점자에 오르거나 공동 수상하였다. 티에리 앙리는 2005-06 시즌에 27골을 넣으며 연속 3회이자 개인 통산 4회의
          득점왕에 올랐다. 이 기록은 시어러의 1994-95 시즌부터 1996-97 시즌까지 3회 연속 수상의 기록을 뛰어넘었다. 다른 중복 수상자는 2번 수상한 마이클 오언과 지미 플로이트
          하셀바잉크이다. 앤디 콜과 앨런 시어러는 한 시즌에 34골 득점으로 한 시즌 최다 득점 기록을 가지고 있다. 앤디 콜의 기록은 1993-94 시즌이고 시어러의 기록은 1994-95 시즌으로 둘 다
          한 시즌에 총 42라운드의 경기를 펼친 때이다.[56] 1995-96 시즌에 시어러가 세운 38라운드에서의 31골은 2007-08 시즌에 크리스티아누 호날두도 기록하였는데, 이는 미드필더로서 한
          시즌 최다 득점이다.<br>
        </p>
        <p>
          맨체스터 유나이티드는 프리미어리그가 시작한 후에 통산 1,000골을 기록한 첫 번째 팀이 되었다. 1,000번째 골은 2005-06 시즌에 미들즈브러와의 경기에서 4:1로 미들즈브러가 승리한
          경기에서 크리스티아누 호날두가 기록한 골이다. 통산 1,000골을 기록한 팀은 맨체스터 유나이티드와 아스널뿐이다. 가장 많은 골이 들어간 경기는 2007년 9월 29일에 포츠머스가 레딩을 7:4로
          이긴 경기이다.<br>
        </p>
        <p>
          2012-2013 시즌까지 오직 단 한 명의 선수만이 매 시즌 득점을 기록했는데, 맨체스터 유나이티드의 라이언 긱스가 그 주인공이다. 두 번째로 매 시즌 득점한 선수는 2007-08 시즌까지 16
          시즌 동안 매 시즌 득점을 했었던 게리 스피드이다. 둘은 모두 웨일스 축구 국가대표팀의 주장을 역임했었다.<br>
        </p>
      </div>
    </div>
  </section>
  <div class="upbtn" onclick="goTop()">
      <div></div>
  </div>
  <div class="space"></div>

  <% include ./footer.ejs %>
</body>

</html>
