<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Please Login</title>
  <link rel="shortcut icon" href="img/if_Locked-Cloud_379456.ico">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="stylesheets/sign_in.css">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Gugi" rel="stylesheet">
  <script type="text/javascript" src="javascripts/sign_in.js"></script>
</head>

<body>
  <form class="Login" method="post" action="/signin">
    <div class="prev">
      <a href="javascript:history.back(-1)">
        <img src="img/back.png">
      </a>
    </div>
    <div class="Login_title">
      <span>Please sign in</span>
    </div>
    <div class="Login_text">
      <input class="id" name="my_id" type="text" placeholder="Username">
      <span class="id_line"></span>
    </div>
    <div class="Login_text">
      <input class="pw" name="my_pw" type="password" placeholder="Password">
      <span class="pw_line"></span>
    </div>
    <div class="Login_enter">
      <div class="enter_right">
        <p onclick="location.href='/sign_up'">Not a member? Sign up now</p>
      </div>
      <div class="Null"></div>
    </div>
    <div class="Login_button">
      <input class="click" type="submit" value="Sign In" class="submit" />
    </div>
  </form>
</body>

</html>
